<div class="row" *ngIf="state.state">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <label for="password" class="form-label">New password</label>
        <div class="input-group flex-nowrap">
            <input type="password" class="form-control" placeholder="Enter New Password" aria-label="password"
                aria-describedby="addon-wrapping" #txtPassword>
        </div>
        <div style="margin-top: 15px;"><label for="password" class="form-label">Confirm password</label>
            <div class="input-group flex-nowrap">
                <input type="password" class="form-control" placeholder="Confirm your new password" aria-label="passwordConfirm"
                    aria-describedby="addon-wrapping" #txtPasswordConfirm>
            </div>
        </div>
        <div class="col-md-3"><button type="button" style="margin-top: 5px;" class="btn btn-primary" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Update Password</button>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="!state.state">This link is not used!</div>
</div>