<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <label for="password" class="form-label">New password</label>
        <div class="input-group flex-nowrap">
            <input type="password" class="form-control" placeholder="Enter New Password" aria-label="password"
                aria-describedby="addon-wrapping">
        </div>
        <div style="margin-top: 15px;"><label for="password" class="form-label">Confirm password</label>
            <div class="input-group flex-nowrap">
                <input type="passwordConfirm" class="form-control" placeholder="Confirm your new password" aria-label="passwordConfirm"
                    aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="col-md-3"><button type="button" style="margin-top: 5px;" class="btn btn-primary">Primary</button>
        </div>
    </div>
</div>